

<div mat-dialog-content class="mat-mdc-dialog">

  <div class="mt-0">
    <div class="font-weight-bold p-t-5 p-l-10 font-17" style="text-align: center;">
      <h3>La sesión está a punto de caducar</h3>
      <i class="far fas fa-clock fa-3x col-blue"></i>
    </div>
  </div>


  <div class="row  justify-content-center">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
      <div style="text-align: center;">
        <p>
          <strong>Por seguridad la sesión caducará en <span class="font-weight-bold font-15 col-red"> {{data.count}} </span>segundos.
            Es necesario que inicie sesión nuevamente.
          </strong>
        </p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
      <div class="example-button-row" style="text-align:center;">
        <button mat-raised-button color='primary' [mat-dialog-close]="1">Cerrar ahora</button>
      <button mat-raised-button color="basic" (click)="onNoClick()" tabindex="-1">Aceptar</button>
      </div>
    </div>
  </div>


</div>
