<div  class="container-footer">
  <div></div>
  <div class="two" fxLayout="column">
    <div class="foo">
      Redes Sociales
    </div>
    <div class="foo">
      <div class="container-social">
        <div>
          <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
            <a style="color:aliceblue" href="https://www.facebook.com/RACOM-Microelectronics-SA-de-CV-1120408261326022/"><mat-icon>facebook</mat-icon></a>
          </button>
        </div>
        <div>
          <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
            <a style="color:aliceblue" href="http://www.racom.com.mx/"><mat-icon>public</mat-icon></a>
          </button>
        </div>
        <div>
          <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
            <a style="color:aliceblue" href="{{ generarCorreo }}"><mat-icon>email</mat-icon></a>
          </button>
        </div>
      </div>
      Racom Microelectronics, S.A. de C.V. Gaviotas N° 100 Col. Granjas Modernas Del. Gustavo A. Madero C.P. 07460 México, Ciudad de México.
    </div>
    <div class="foo">
      <p>Racom&reg; | Todos los derechos reservados. México &copy; 2023&nbsp;|&nbsp;
        <a href="https://racom.com.mx/content/3-terminos-y-condiciones-de-uso">Terminos y Condiciones</a>
      </p>
    </div>
  </div>
  <div></div>
</div>
