<div class="row  ml-3  mr-3 mt-5 justify-content-md-center">
  <strong class="col-lg-3 col-sm-12 col-xs-12" >Cambiar alias</strong>
  <button class="col-lg-3 col-sm-12 col-xs-12" mat-raised-button color="primary" (click)="editDevice()">  <mat-icon>mode_edit</mat-icon>Alias</button>
</div>

<div class="row  ml-3  mr-3 justify-content-md-center">
  <strong class="col-lg-3 col-sm-12 col-xs-12 " >Borrar datos de bomba</strong>
  <button class="col-lg-3 col-sm-12 col-xs-12" mat-raised-button color="warn" (click)="deleteFlashCBST()">  <mat-icon>delete</mat-icon>Borrar</button>
</div>
