<section>
  <mat-toolbar color="primary">

      <!-- <img style="width: 75px;" src="assets/images/racom.png" alt="Racom"> -->
      <button mat-icon-button color="primary" aria-label="Gota racom">
        <a href=""><img href="" src="assets/images/logo.ico" alt=""></a>
      </button>

    <span>Racom</span>
    <span class="example-spacer"></span>
     <a style="color: #fff;" routerLink="/auth/signup" target="_blank">
      <button style="padding: 0 1px 0px 7px;" mat-button>Registrate |</button>
     </a>
     <a style="color: #fff;" routerLink="/auth/signin" target="_blank">
      <button style="padding: 0 1px 0px 7px;" mat-button>Iniciar sesión</button>
     </a>
  </mat-toolbar>
</section>
